@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0;
  padding: 0;
}
.wrapper .headerImg {
  min-height: 499px;
  background: url('../img/hotBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .main {
  background-color: #fbfafa;
}
.wrapper .main header {
  text-align: center;
  background-color: #ffffff;
}
.wrapper .main header ul li {
  display: inline-block;
  padding: 45px 40px 40px;
}
.wrapper .main header ul li a {
  font-family: 'OpenSansSemiBold';
  font-size: 20px;
  color: #2e2e2e;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
}
.wrapper .main header ul li a:hover {
  text-decoration: underline;
}
.wrapper .main .mainHeader {
  margin-top: 110px;
  text-align: center;
}
.wrapper .main .mainHeader h1 {
  margin-top: 35px;
  font-family: 'OpenSansLight';
  font-size: 55.94px;
  font-weight: normal;
  color: #555559;
  margin-bottom: 80px;
  letter-spacing: -2px;
}
.wrapper .main .mainHeader a {
  display: inline-block;
  padding: 20px 33px 20px 35px;
  background-color: #286782;
  color: #ffffff;
  font-size: 20px;
  font-family: 'OpenSansSemiBold';
  font-weight: normal;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 170px;
}
.wrapper .hotdogsVariety {
  background-color: #ffffff;
}
.wrapper .hotdogsVariety .container {
  margin: 0 auto;
  text-align: center;
  max-width: 1440px;
  width: 100%;
}
.wrapper .hotdogsVariety .container .text {
  padding: 220px 148px 225px 130px;
  width: 50%;
  max-width: 720px;
  position: relative;
}
.wrapper .hotdogsVariety .container .text h5 {
  font-family: 'OpenSansBold';
  font-size: 23.97px;
  font-weight: normal;
  color: #555559;
  margin-bottom: 30px;
  letter-spacing: -1px;
}
.wrapper .hotdogsVariety .container .text h5::before {
  content: "";
  width: 31px;
  height: 3px;
  background-color: #286782;
  position: absolute;
  top: 41%;
  left: 10.78%;
}
.wrapper .hotdogsVariety .container .text p {
  font-family: 'OpenSansLight';
  font-size: 17.98px;
  font-weight: normal;
  color: #555559;
  letter-spacing: -1px;
}
.wrapper .hotdogsVariety .container .vegan h5::before,
.wrapper .hotdogsVariety .container .vegitarian h5::before {
  background-color: #84959c;
}
.wrapper .hotdogsVariety .container .content {
  float: left;
  width: 50%;
  height: 576px;
}
.wrapper .hotdogsVariety .container .imgBeef {
  background: url('../img/BeefHotdogs.jpg');
  background-repeat: no-repeat;
}
.wrapper .hotdogsVariety .container .imgVegan {
  background: url('../img/VeganHotdogs.jpg');
  background-repeat: no-repeat;
}
.wrapper .hotdogsVariety .container .imgVegitarian {
  background: url('../img/VegitarianHotdogs.jpg');
  background-repeat: no-repeat;
}
.wrapper .hotdogsVariety.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
.wrapper footer {
  width: 100%;
  background: #efefef;
  padding: 30px 20px 30px;
  height: 74px;
}
.wrapper footer .policy {
  float: left;
}
.wrapper footer .contactUs {
  float: right;
}
.wrapper footer p {
  font-family: 'OpenSansRegular';
  font-size: 14px;
  color: #555559;
}
@media screen and (min-width: 992px) and (max-width: 1169px) {
  .wrapper .hotdogsVariety .text {
    padding: 110px 50px 70px 100px;
  }
  .wrapper .hotdogsVariety .text h5::before {
    top: 31%;
    left: 10.78%;
  }
  .wrapper .hotdogsVariety .content {
    height: 396px;
  }
}
@media screen and (min-width: 771px) and (max-width: 992px) {
  .wrapper .hotdogsVariety .text {
    padding: 70px 50px 50px 100px;
  }
  .wrapper .hotdogsVariety .text p {
    font-size: 24px;
  }
  .wrapper .hotdogsVariety .text h5::before {
    top: 21%;
    left: 10.78%;
  }
  .wrapper .hotdogsVariety .content {
    height: 396px;
  }
}
@media screen and (max-width: 770px) {
  .wrapper .main header {
    text-align: center;
    padding: 10px 0;
  }
  .wrapper .main header ul li {
    display: block;
    padding: 10px 40px 10px;
  }
  .wrapper .main .mainHeader {
    margin-top: 70px;
  }
  .wrapper .main .mainHeader a {
    margin-bottom: 70px;
  }
  .wrapper .hotdogsVariety {
    margin-left: 15px !important;
    width: 100%;
  }
  .wrapper .hotdogsVariety .content {
    width: 100%;
  }
  .wrapper .hotdogsVariety .imgBeef,
  .wrapper .hotdogsVariety .imgVegan,
  .wrapper .hotdogsVariety .imgVegitarian {
    text-align: center;
    width: 100%;
    height: 350px;
  }
  .wrapper .hotdogsVariety .text {
    padding: 20px 30px 20px 25px;
    height: 100%;
    text-align: center;
  }
  .wrapper .hotdogsVariety .text p {
    font-size: 24px;
  }
  .wrapper .hotdogsVariety .text h5::before {
    display: none;
  }
  .wrapper footer {
    text-align: center;
    background: #efefef;
    height: 100%;
  }
  .wrapper footer .policy,
  .wrapper footer .contactUs {
    float: none;
  }
}
